body {
	background-color: #9fd660;
	color: #000000;
	margin: 0;
	margin-bottom: 50px;
	font-family: 'Patrick Hand', cursive;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Luckiest Guy', cursive;
}

/* Header */
header {
	display: flex;
	justify-content: center;
	text-align: center;

	width: 100%;
	height: 100px;
}


/* Main */
main {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.quiz-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quizform {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.classmate-choice {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	background-color: #71aa2f;
	border: none;
	color: black;

	width: 100%;
	height: auto;
}

.classmate-choice:hover {
	background-color: #000000;
	color: #71aa2f;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* Footer */

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20px;
	text-align: center;
	margin-top: 10vh;
	font-family: 'Luckiest Guy', cursive;
}